# This is a basic workflow to help you get started with Actions

name: build

on:
  push:
    branches: ["**"]

  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: "Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)"
        required: false
        default: false

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os-name: Ubuntu 22.04
            runs-on: ubuntu-24.04
            container: buildpack-deps:focal
            vcpkg-version: 2025.02.14
            vcpkg-features-cache-key: contrib
            vcpkg-features: contrib
            target: x86_64-unknown-linux-gnu
          - os-name: Windows-x86_64
            runs-on: windows-latest
            vcpkg-version: 2025.02.14
            vcpkg-features-cache-key: contrib
            vcpkg-features: contrib
            target: x86_64-pc-windows-msvc

    runs-on: ${{ matrix.platform.runs-on }}
    container: ${{ matrix.platform.container }}
    env:
      VCPKG_VERSION: ${{ matrix.platform.vcpkg-version }}
      VCPKG_FEATURES: ${{ matrix.platform.vcpkg-features }}
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions/cache@v5
        with:
          path: ~/build
          key: vcpkg-${{ matrix.platform.vcpkg-version }}-${{ matrix.platform.runs-on }}-${{ matrix.platform.vcpkg-features-cache-key }}

      - name: Install Dependencies
        run: bash scripts/install.sh

      - name: Build binary
        run: bash scripts/build.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: imagetools-${{ matrix.platform.target }}
          path: |
            target/release/imagetools
            target/release/imagetools.exe
            target/release/imagetools.pdb
          retention-days: 14
